@font-face {
    font-family: Sonsie;
    src: url("../fonts/Sonsie_One/SonsieOne-Regular.ttf");
}

@font-face {
    font-family: Sarina;
    src: url("../fonts/Sarina/Sarina-Regular.ttf");
}

@font-face {
    font-family: Saira;
    src: url("../fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf");
}